# Data 
data/DeepFluoro
data/ipcai_2020_full_res_data.h5
data/ipcai_2020_full_res_data.zip
data/LICENSE

# Model weights
model_weight

# Logging
log
wandb
*.out

# Results
visualizations
results

# Temporary
*tmp*
.DS_Store
scripts

# Cache
__pycache__/